.title {
    text-align: center;
    margin:0 ;
}

.halfwidthcolumn {
    width:100%;
    padding: 0px;
}
.socialMediaLinks .soc {
    text-align: center;
}

.soc a {
    position: relative;
    height: 40px;
    height: 4.0rem;
    width: 40px;
    width: 4.0rem;
  }

.cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: auto;
    width: auto;
}

p#mobileWarning {
    color:red;
    display: block;
}