p#mobileWarning {
  color:red;
  display: none;
}

.backIcon {
  height: 6rem;
  width: 6rem;
}
.panel {
  float: left;
  width: 100%;
  
  box-sizing: border-box;

  background-size: cover;

  text-align: center;
  display: table;

  position: relative;
  transition: 0.4s;
 
  animation: fadein 1s;
}

.halfwidthcolumn {
    float:left;
    width: 50%;
    padding: 10px;
}

.panel:hover {
    
    color:black;
    font-size: 24px;
}

.panel:active {
    transition: 0.1s;
    color:#2691d9;

}

.centered {
    text-align: center;
}




.innerPanel {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

.titleBar {
    margin:10px;
    padding: 10px;
}
body {
  animation: fadein 0.5s;
    margin: 0px;
    color: white;
    font-family: 'Quicksand';font-size: 22px;
}

.title, .summary{
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}
.alignleft {
  text-align: left;
}
.backButton {
  text-align: left;
}
.mainBody {
    width: 100%;
    min-height:800px;
    display:table;
}

.title h1 {
  margin: 0;
  padding: 0;
}
.title a {
    text-decoration: inherit;
    color: inherit;
    transition: color 0.5s;
}

.title a:hover {
    color: #2691d9;
}

.panelLink {
    width: 100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
    position:absolute;
}

.hiddenContent {
  display: block;
  padding: 1em;
  height: auto;
  transition: opacity 0.3s linear;
  opacity: 1;
  overflow: hidden;
  
}

.h-hide {
  padding:0em;
  opacity: .25;
  height: 0;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}




html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 0;
    width: 100%;
  }
  
  .ir > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  html, body {
    background: #0f2a52;
  }
  
  html {
    font-size: 0.625em;
  }
  
  .soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0 0;
    text-align: left;
    width: 110rem;
    max-width: 100%;
    padding-inline-start: 0px;
  }
  .soc li {
    display: inline-block;
    margin: 6px;
    margin: 0.6rem;
  }
  .soc a, .soc svg {
    display: block;
  }
  .soc a {
    position: relative;
    height: 48px;
    height: 4.8rem;
    width: 48px;
    width: 4.8rem;
  }
  
  .icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover, .icon-31:hover, .icon-32:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .icon-1 {
    color: #d94a26;
    fill: #d94a26;
  }
  .icon-1:hover {
    background: #d94a26;
  }
  
  .icon-2 {
    color: #d96e26;
    fill: #d96e26;
  }
  .icon-2:hover {
    background: #d96e26;
  }
  
  .icon-3 {
    color: #d99126;
    fill: #d99126;
  }
  .icon-3:hover {
    background: #d99126;
  }
  
  .icon-4 {
    color: #d9b526;
    fill: #d9b526;
  }
  .icon-4:hover {
    background: #d9b526;
  }
  
  .icon-5 {
    color: #d9d926;
    fill: #d9d926;
  }
  .icon-5:hover {
    background: #d9d926;
  }
  
  .icon-6 {
    color: #b5d926;
    fill: #b5d926;
  }
  .icon-6:hover {
    background: #b5d926;
  }
  
  .icon-7 {
    color: #91d926;
    fill: #91d926;
  }
  .icon-7:hover {
    background: #91d926;
  }
  
  .icon-8 {
    color: #6ed926;
    fill: #6ed926;
  }
  .icon-8:hover {
    background: #6ed926;
  }
  
  .icon-9 {
    color: #4ad926;
    fill: #4ad926;
  }
  .icon-9:hover {
    background: #4ad926;
  }
  
  .icon-10 {
    color: #26d926;
    fill: #26d926;
  }
  .icon-10:hover {
    background: #26d926;
  }
  
  .icon-11 {
    color: #26d94a;
    fill: #26d94a;
  }
  .icon-11:hover {
    background: #26d94a;
  }
  
  .icon-12 {
    color: #26d96e;
    fill: #26d96e;
  }
  .icon-12:hover {
    background: #26d96e;
  }
  
  .icon-13 {
    color: #26d991;
    fill: #26d991;
  }
  .icon-13:hover {
    background: #26d991;
  }
  
  .icon-14 {
    color: #26d9b5;
    fill: #26d9b5;
  }
  .icon-14:hover {
    background: #26d9b5;
  }
  
  .icon-15 {
    color: #26d9d9;
    fill: #26d9d9;
  }
  .icon-15:hover {
    background: #26d9d9;
  }
  
  .icon-16 {
    color: #26b5d9;
    fill: #26b5d9;
  }
  .icon-16:hover {
    background: #26b5d9;
  }
  
  .icon-17 {
    color: #2691d9;
    fill: #2691d9;
  }
  .icon-17:hover {
    background: #2691d9;
  }
  
  .icon-18 {
    color: #266ed9;
    fill: #266ed9;
  }
  .icon-18:hover {
    background: #266ed9;
  }
  
  .icon-19 {
    color: #264ad9;
    fill: #264ad9;
  }
  .icon-19:hover {
    background: #264ad9;
  }
  
  .icon-20 {
    color: #2626d9;
    fill: #2626d9;
  }
  .icon-20:hover {
    background: #2626d9;
  }
  
  .icon-21 {
    color: #4a26d9;
    fill: #4a26d9;
  }
  .icon-21:hover {
    background: #4a26d9;
  }
  
  .icon-22 {
    color: #6e26d9;
    fill: #6e26d9;
  }
  .icon-22:hover {
    background: #6e26d9;
  }
  
  .icon-23 {
    color: #9126d9;
    fill: #9126d9;
  }
  .icon-23:hover {
    background: #9126d9;
  }
  
  .icon-24 {
    color: #b526d9;
    fill: #b526d9;
  }
  .icon-24:hover {
    background: #b526d9;
  }
  
  .icon-25 {
    color: #d926d9;
    fill: #d926d9;
  }
  .icon-25:hover {
    background: #d926d9;
  }
  
  .icon-26 {
    color: #d926b5;
    fill: #d926b5;
  }
  .icon-26:hover {
    background: #d926b5;
  }
  
  .icon-27 {
    color: #d92691;
    fill: #d92691;
  }
  .icon-27:hover {
    background: #d92691;
  }
  
  .icon-28 {
    color: #d9266e;
    fill: #d9266e;
  }
  .icon-28:hover {
    background: #d9266e;
  }
  
  .icon-29 {
    color: #d9264a;
    fill: #d9264a;
  }
  .icon-29:hover {
    background: #d9264a;
  }
  
  .icon-30 {
    color: #d92626;
    fill: #d92626;
  }
  .icon-30:hover {
    background: #d92626;
  }
  
  .icon-31 {
    color: #d94a26;
    fill: #d94a26;
  }
  .icon-31:hover {
    background: #d94a26;
  }
  
  .icon-32 {
    color: #d96e26;
    fill: #d96e26;
  }
  .icon-32:hover {
    background: #d96e26;
  }
  
  .bg1 {
    background-color: #d94a26;
}
.bg2 {
    background-color: #d96e26;
}
.bg3 {
    background-color: #d99126;
}
.bg4 {
    background-color: #d9b526;
}
.bg5 {
    background-color: #d9d926;
}
.bg6 {
    background-color: #b5d926;
}
.bg7 {
    background-color: #91d926;
}
.bg8 {
    background-color: #6ed926;
}
.bg9 {
    background-color: #4ad926;
}
.bg10 {
    background-color: #26d926;
}
.bg12 {
    background-color: #26d96e;
}
.bg14 {
    background-color: #26d9b5;
}
.bg16 {
    background-color: #26b5d9;
}
.bg18 {
    background-color: #266ed9;
}
.bg20 {
    background-color: #2626d9;
}
.bg22 {
    background-color: #6e26d9;
}
.bg24 {
    background-color: #b526d9;
}
.bg26 {
    background-color: #d926b5;
}
.bg28 {
    background-color: #d9266e;
}
.bg30 {
    background-color: #d92626;
}







select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #000; /* fallback color if gradients are not supported */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Grid styles -------------------------------------------------*/
.cards {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 5px;
  max-width: auto;
  margin: 0 auto 30px;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

article {
  position: relative;
  overflow: hidden;
}
article img {
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
article:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 100px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100px;
  float: center;
  text-align: center;
}

div.desc {
  padding: 15px;
  text-align: center;
}